@charset "UTF-8";
/**
 * $File: logo.css $
 * $Date: 2023-10-15 22:27:14 $
 * $Revision: $
 * $Creator: Jen-Chieh Shen $
 * $Notice: See LICENSE.txt for modification and distribution information
 *                   Copyright © 2023 by Shen, Jen-Chieh $
 */

/* Games */

#logo-archers-duel {
  background: url('../images/games/archers_duel.png');
  background-size: 100px 71px;
  width: 100px;
  height: 71px;
}

#logo-cardinal {
  background: url('../images/games/cardinal.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

#logo-hemlock {
  background: url('../images/games/hemlock.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-might-and-blade {
  background: url('../images/games/might_&_blade.png');
  background-size: 180px 72px;
  width: 180px;
  height: 72px;
}

#logo-sugar-sleuths {
  background: url('../images/games/SugarSleuths.png');
  background-size: 134px 75px;
  width: 134px;
  height: 75px;
}

#logo-pey {
  background: url('../images/games/PEY.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-ais {
  background: url('../images/games/AIS.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

/* Applications */

#logo-meteo {
  background: url('../images/app/Meteo.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

/* AR/VR */

#logo-twilight-tower {
  background: url('../images/games/Twilight_Tower.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-lnd {
  background: url('../images/app/LnD.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-moncon {
  background: url('../images/app/MonCon.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

/* Tools */

#logo-pixisoft {
  background: url('../images/tools/pixisoft.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-shader-ls {
  background: url('../images/tools/shader-ls.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-unity {
  background: url('../images/tools/unity.png');
  background-size: 55px 55px;
  width: 55px;
  height: 55px;
}

#logo-mx {
  background: url('../images/tools/Mx.png');
  background-size: 122px 47px;
  width: 122px;
  height: 47px;
}

#logo-emacs {
  background: url('../images/tools/emacs.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

#logo-eask {
  background: url('../images/tools/eask.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

/* Automation */

#logo-gha-emacs {
  background: url('../images/automation/GHA_emacs.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

#logo-gha-eask {
  background: url('../images/automation/GHA_eask.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

#logo-gha-lem {
  background: url('../images/automation/GHA_lem.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}

#logo-gameci {
  background: url('../images/automation/GameCI_unity.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

/* Web */

#logo-jcs-emacs {
  background: url('../images/web/jcs-emacs.png');
  background-size: 64px 64px;
  width: 64px;
  height: 64px;
}

#logo-siradoc {
  background: url('../images/tools/siradoc.png');
  background-size: 60px 60px;
  width: 60px;
  height: 60px;
}
