* {
	line-height: 16px/1.5;
	font-size: 0.999rem;
}

body#top:not(.dark) {
    background-color: #F5F5F5;
    background-image: url('../../images/bg/light.png');
    background-size: cover;
    background-attachment: fixed;
}

.dark::-webkit-scrollbar-thumb {
    border: 5px solid #292A2D;
}

.list .main .first-entry {
    display: none;
}

.list .main .post-entry {
    display: none;
}

.dark {
    background-color: #292A2D;
    background-image: url('../../images/bg/dark.png');
    background-size: cover;
    background-attachment: fixed;
}

.dark.list {
    background-color: #292A2D;
    background-image: url('../../images/bg/dark.png');
    background-size: cover;
    background-attachment: fixed;
}

not(.dark) {
    background-color: #F5F5F5;
}

.main {
    max-width: calc(var(--main-width) + var(--gap) * 5);
}

.post-content a {
    box-shadow: 0px 0px;
}

.dark .post-content a {
	color: #55BDE2;
}

.dark .post-content a:hover {
	color: #AFDAEA;
}

body:not(.dark) .post-content a {
	color: #2D96BD;
}

body:not(.dark) .post-content a:hover {
	color: #EF3982;
}

.post-content img {
    border-radius: 0px;
	margin: 0px;
}

.post-content blockquote {
    border-left-color: #59c5ec;
    background-color: rgba(89,197,236,0.2);
    border-left: 0.5rem solid #6bd6fd;
    padding: 0.25rem 0.75rem;
    margin: 1rem 0;
}

.post-content blockquote p {
    margin: 0.5rem 0;
}

/* Footer */

.page-footer .pagination .prev {
    display: none;
}

.page-footer .pagination .next {
    display: none;
}

/* Button hl */

.dark header a:hover {
    color: #FFFFFF;
}

body:not(.dark) header a:hover {
    color: #2D96BD;
}

.archive-entry-title:hover {
    color: red;
}

/* Code */

.post-content pre code {
    background: #272C34 !important;
}

/* Posts */

.archive-month {
    padding: 0px;
}

.archive-entry {
    margin: 0px;
}
