.simpleicons {
    display: inline-block;
    margin-right: 5px;
    width: 25px;
    height: 25px;
	position: relative;
	top: 5px;
}

#si-nix {
    background-image: url('https://avatars.githubusercontent.com/u/487568?s=200&v=4');
    background-size: cover;
    background-repeat: no-repeat;
}

#si-unity {
    background-image: url('https://cdn.simpleicons.org/unity');
    background-size: cover;
    background-repeat: no-repeat;
}

#si-unrealengine {
    background-image: url('https://cdn.simpleicons.org/unrealengine');
    background-size: cover;
    background-repeat: no-repeat;
}

#si-godotengine {
    background-image: url('https://cdn.simpleicons.org/godotengine');
    background-size: cover;
    background-repeat: no-repeat;
}

#si-emacs {
    background-image: url('https://upload.wikimedia.org/wikipedia/commons/thumb/0/08/EmacsIcon.svg/180px-EmacsIcon.svg.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#si-zed {
    background-image: url('https://avatars.githubusercontent.com/u/79345384?s=200&v=4');
    background-size: cover;
    background-repeat: no-repeat;
}
