name: Build

on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master
  workflow_dispatch:

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  PATH_DOC: ${{ github.workspace }}/gh-pages

jobs:
  publish-doc:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        submodules: true

    - name: Don't treat submodules
      run: |
        rm -r static/public/wnm249_midterm/.git
        rm -r static/public/wnm249_final/.git
        rm -r static/public/sherlock-web/.git
        rm -r static/public/Links_PipelineOfEmperorYu/.git

    - name: Setup Hugo
      uses: peaceiris/actions-hugo@v3
      with:
        hugo-version: '0.147.2'

    - name: Check out gh-pages branch
      uses: actions/checkout@v6
      with:
        ref: gh-pages
        path: ${{ env.PATH_DOC }}
        fetch-depth: 1

    - name: Clean up before the build
      working-directory: ${{ env.PATH_DOC }}
      continue-on-error: true
      run: git rm -r '*'

    - name: Build doc artifacts with Hugo
      run: hugo --destination ${{ env.PATH_DOC }} --minify

    # TODO: Generate better commit message
    - name: Publish doc artifacts
      if: github.ref == 'refs/heads/master'
      continue-on-error: true
      working-directory: ${{ env.PATH_DOC }}
      run: |
        git config user.name github-actions
        git config user.email github-actions@github.com
        git add .
        git commit -F- <<-_UBLT_COMMIT_MSG_
        auto: ${{ github.event.head_commit.message }}

        SourceCommit: https://github.com/jcs090218/jcs-profile/commit/${{ github.sha }}
        _UBLT_COMMIT_MSG_
        git push
